body {
	background-color: black;
	color: white;
}

.header {
	background-color: #ff178b;
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 2em 2em 1em 2em;
}

.top {
	display: flex;
}

.container-fluid {
}

.employ {
	margin-top: 10em;
}

.logo {
	color: white;
}

.real-time {
	color: white;
	font-size: 2em;
	margin-top: 0.2em;
}

.ecranCenter {
	display: flex;
	justify-content: center;
}


.positionJob {
	font-weight: bold;
	font-size: 3em;
	color: #ff178b;
	font-family: 'Roboto', sans-serif;
	text-align: center;	
	margin-top: 0.8em;
}

.text {
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-weight: bold;
	margin-top: 0.8em;
	font-size: 3em;
	color: #ff178b;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h3 {
	font-size: 2.2em;
	color: #ff178b;
	font-family: 'Roboto', sans-serif;
}

#ecran1 {
	background-color:black;
	font-family: 'Roboto', sans-serif;
	width: 80%;
	height: 8em;
	font-size: 1.8em;
	overflow: hidden;
	margin: 2em 0;
	padding: 0 2em;
}

#ecran2 {
	background-color:black;
	font-family: 'Roboto', sans-serif;
	width: 80%;
	height: 8em;
	font-size: 1.8em;
	overflow: hidden;	
	margin: 2em 0;
	padding: 0 2em;
}

.row-1 {
	border-top: 0.5em solid white;
	background-color: black;
}

.row-2 {
	border-top: 0.5em solid white;
	background-color: black;
}

.hidden {
	display: none;
}

.full-time {
	margin-left: 8em;
}

.bar {
	height: 1em;
	width: 100%;
	background-color: white;
}

.in {
  	animation: fill 60s linear 1;
    height: 100%;
    background-color:  #ff178b;
}

.generalDesc {
	margin-top: 8em;
	margin-left: 0.1em;
	overflow:hidden;
}

@keyframes fill {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.col-12 {
	height: 0.5em;
	background-color: black;
}

.qrCodes {
	text-align: center;
}
.qrIMG {
	width:40%;
}

.video {
	padding-top:-10em;
	width:160em;
	height:90em;
}

@media all and (max-width: 1140px) {	
	.logo{
	padding-top: 0.35em;
	}
	
	img {
	width:50%;
	margin: 0.5em 0 0 0.5em;
	}
    
    .top {;
    }
    
	.header {
	width: 100%;
	height: 100%;
	font-size: 1em;
	text-align: left;
	padding: 0 0;
	}
	
	#txt {
	margin-right: 0.3em;
	}
	
	.positionJob {
	font-size: 1.4em;
	}
	
	.employ {
	font-size: 0.5em
	}
	
	.jobDesc {
	
	margin-top: 2.2em;
	font-size: 0.5em
	}
	
	.qrIMG {
	margin-left: 1em;
	width: 100%;
	}
	
	.text {
	display: flex;
	padding-bottom: 0.8em;
	}
	
	.ecran1 {
	height: 2em;
	}
	
	.ecran2 {
	}
	
	.real-time {
	}
}



