body {
	background-color: #505050;
	color: white;
}

.header {
	background-color: #ff178b;
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 2em 2em 1em 2em;
}

.top {
	display: flex;
}

.container-fluid {
}

.employ {
	margin-top: 2em;
}

.logo {
	color: white;
}

.real-time {
	color: white;
	font-size: 2em;
	margin-top: 0.2em;
}

.ecranCenter {
	display: flex;
	justify-content: center;
}


.positionJob {
	font-weight: bold;
	font-size: 3em;
	color: #ff178b;
	font-family: 'Roboto', sans-serif;
	text-align: center;	
	margin-top: 0.8em;
	height: 2em;
}

.text {
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-weight: bold;
	margin-top: 0.8em;
	font-size: 3em;
	color: #ff178b;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h3 {
	font-size: 2.2em;
	color: #ff178b;
	font-family: 'Roboto', sans-serif;
}

#ecran1 {
	background-color:#202020;
	font-family: 'Roboto', sans-serif;
	width: 80%;
	height: 8em;
	font-size: 1.8em;
	overflow: hidden;
	margin: 2em 0;
	padding: 0 2em;
}

#ecran2 {
	background-color: #383838;
	font-family: 'Roboto', sans-serif;
	width: 80%;
	height: 8em;
	font-size: 1.8em;
	overflow: hidden;	
	margin: 2em 0;
	padding: 0 2em;
}

#ecran3 {
	background-color: #202020;
	font-family: 'Roboto', sans-serif;
	width: 80%;
	height: 8em;
	font-size: 1.8em;
	overflow: hidden;
	margin: 2em 0;
	padding: 0 2em;
}

#ecran4 {
	background-color: #383838;
	font-family: 'Roboto', sans-serif;
	width: 80%;
	height: 8em;
	font-size: 1.8em;
	overflow: hidden;	
	margin: 2em 0;
	padding: 0 2em;
}

#ecran5 {
	background-color: #202020;
	font-family: 'Roboto', sans-serif;
	width: 80%;
	height: 8em;
	font-size: 1.8em;
	overflow: hidden;
	margin: 2em 0;
	padding: 0 2em;
}

b {
  font-weight: normal;
}

.positions {
	display: flex;
}

.row {
	height: 15em;
}

.color1 {
	background-color: #202020;
}

.color2 {
	background-color: #383838;
}

.color3 {
	background-color: #282828;
}

.color4 {
	background-color: black;
}

.hidden {
	display: none;
}

.full-time {
}

.bar {
	height: 2em;
	width: 100%;
	background-color: white;
}

.in {
  	animation: fill 60s linear 1;
    height: 100%;
    background-color:  #ff178b;
}

@keyframes fill {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.qrCodes {
	text-align: center;
}
.qrIMG {
	width:40%;
}

.video {
	padding-top:-10em;
	width:160em;
	height:90em;
}

@media all and (max-width: 1140px) {	
	.logo{
	padding-top: 0.35em;
	}
	
	img {
	width:50%;
	margin: 0.5em 0 0 0.5em;
	}
    
	.header {
	justify-content: space-between;
	width: 100%;
	height: 100%;
	font-size: 1em;
	text-align: left;
	padding: 0 0;
	}
	
	.positions {
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	margin-top: 0.1em;
	margin-left:-7.4em;
	font-size: 2em;
	}
	
	#txt {
	margin-right: 0.3em;
	}
	
	.job {
	margin-top: 0.05em;
	font-size: 1em;
	}
	
	.positionJob {
	font-size: 1.4em;
	}
	
	.employ {
	font-size: 0.5em
	}
	
	.jobDesc {
	font-size: 0.5em
	}
	
	.real-time {
	margin-top: 0em;
	}
	
	.qrIMG {
	margin-left: 1em;
	width: 100%;
	}
	
	.text {
	display: flex;
	padding-bottom: 0.8em;
	}
	
	.full-time {
	margin-top: 0em;
	}
}

@media all and (min-width: 1800px) {
	.positions {
	font-size: 2.5em;
	}
	
	#video {
	width:50%;
	height: 720px;
	}
	
	.row {
	height: 28em;
  }
  
  .job {
  color:#383838;}
  
  .positions {
  font-size: 3em;
  font-weight: bold;
  margin-left: -4em;  
  }
  
  .real-time{
  margin-top: 0em;
  font-size: 3em;
  }
}


