body {
	background-image: url("../images/background.png");
/* 	background-color: black; */
/* 	background-position: right top; */
/* 	background-size: 3150px 1650px; */
 	overflow: hidden; 
	background-size: cover;
	}
	
	.time{
	color: #ff178b;
	text-align:right;
	padding-right: 0;
	font-size: 1.5em;
	font-family: 'Roboto',sans-serif;
	
	}
	
	div.bar {
	height: 4em;
	width: 200%;
	background-color: transparent;
	margin-left: -1.7em;
	padding-right: 0em;
	margin-top: 0em;
  
}
  .in {
  	animation: fill 40s linear 1;
    height: 120%;
    background-color: #ff178b;
    margin-top: -5.5em;
    border-radius: 5px;
}

@keyframes fill {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
	

.snowflake {
  color: #ff178b;
  font-size: 1.5em;
  font-family:  "Times New Roman";
  text-shadow: 0 0 5px #000;
  font: bold;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}0%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:5%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:10%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:15%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:20%;-webkit-animation-delay:3s,2s;animation-delay:3s,4s}.snowflake:nth-of-type(5){left:25%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:30%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:35%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:40%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:45%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:50%;-webkit-animation-delay:1s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:55%;-webkit-animation-delay:1s,0s;animation-delay:7s,0s}.snowflake:nth-of-type(12){left:60%;-webkit-animation-delay:1s,0s;animation-delay:6s,1s}.snowflake:nth-of-type(13){left:65%;-webkit-animation-delay:1s,0s;animation-delay:8s,1s}.snowflake:nth-of-type(14){left:70%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(15){left:75%;-webkit-animation-delay:1s,0s;animation-delay:4s,4s}.snowflake:nth-of-type(16){left:80%;-webkit-animation-delay:1s,0s;animation-delay:8s,1s}.snowflake:nth-of-type(17){left:85%;-webkit-animation-delay:1s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(18){left:90%;-webkit-animation-delay:1s,0s;animation-delay:7s,1s}.snowflake:nth-of-type(19){left:95%;-webkit-animation-delay:1s,0s;animation-delay:6s,2s}.snowflake:nth-of-type(20){left:100%;-webkit-animation-delay:1s,0s;animation-delay:5s,3s}	
	
	div{
	color:white;
	font-size: 0.8em;
	text-align: left;
	
	}
	
	div.text{
	font-size: 3.8em;
	margin-bottom: 0.5em;
	color: white;
	line-height: 1em;
	font-style: normal;
	}
	img.qr-code-image{
	min-width: 194px;
	min-height: 194px;
	max-width: 194px;
	max-height: 194px;
	margin: 2em auto;
	border-radius: 10%;
	}
	
	.qrcode{
	width: 50%;
	margin: 0 auto;
	position: absolute;
	left: 110em;
    top: 35em;
	}
	
	.qrtext{
	font-size: 4em;
	color: #ff178b;
	}
	
	span.logoBottom{
	float:right;
		font-size: 2em;
		color: white;
		padding-right: 1em;
		margin-top: 0.3em;
		font-weight: normal;
		font-family: "Times New Roman";
		
		
		
	}
	
	
	.contacts{
	padding-left:0.1em;
	font-family:  'Roboto',sans-serif;
	font-size: 1.8em;
	color: white;
	font-weight: normal;
	}

	.position{
	font-size: 3.1rem;
	color:#ff178b;
	font-family:  'Roboto',sans-serif;
	text-align: center;
	margin-top: 0.5em;
	line-height:1em;
	font-weight: bold;
	}
	h2{
	font-size: 3.5rem;
	color:#ff178b;
	font-family:  'Roboto',sans-serif;
	text-align: center;
	margin-top: 0.5em;
	font-weight: bold;
	}
	

	
	h3{
	font-size: 4.4em;
	color:#ff178b;
	font-family:  'Roboto',sans-serif;;
	text-align: left;
	max-width: 20%;
	margin-top: 0.5em;

	}

	.row2{
	margin-top: 1em;
	
	}
	h5{
	font-size: 3em;
	color:#ff178b;
	font-family:  'Roboto',sans-serif;;
	text-align: left;
	max-width: 20%;
	padding-top: 1em;
	}
	
	#scroll1{
	font-family: 'Roboto',sans-serif;
	overflow: auto; 
	width: 1300px; 
	height: 510px; 
	font-size: 4em; 
	overflow: hidden;
	line-height: 1em;
	margin-left: 0.1em;
	font-weight: bold;
	animation: infinity;
	
	
	}
	
	#scroll{
	font-family: 'Roboto',sans-serif;
	overflow: auto; 
	width: 1300px; 
	height: 440px; 
	font-size: 4em; 
	overflow: hidden;
	line-height: 1em;
	margin-left: 0.1 em;
	font-weight: bold;
	animation: infinity;
	}
	.span{
	background: transparent;}
	
	
	span.title{
	float:right;
	font-weight: normal;
	padding-right: 0.2em;
	}
	
	
	.padding{
	padding-left: 1em;
	margin-top: 12em;
	font-weight: normal;
	
	}
	
	footer{
	position: absolute;
  	left: 0.5em;
 	top: 63em;
 	width: 103%;
	}
	
	h4{
	font-size: 2em;
	color:#ff178b;
	font-family:  'Roboto',sans-serif;;
	padding-left: 0em;
	}
	span.t{
	font-size:1em;
	color:white;
	font-weight: bold;
	font-family: "Times New Roman";

	}
	span.stvorcek{
	font-size:0.7em;
	color:white;
	font-family:  "Times New Roman";
	font-weight: normal;
	padding-left: 0.2em;
	
	}
	
	span.napis{
	font-weight: normal;
	font-family: "Times New Roman";
	font-size: 2em;
	margin-top: 0.4em;
	}
	
	span.pismeno{
	font-size:2em;
	color:white;
	font-weight: bold;
	font-family: "Times New Roman";
	

	}
	span.kocka{
	font-size:1.2em;
	color:white;
	font-family:  "Times New Roman";
	font-weight: normal;
	padding-left: 0.2em;
	
	}
	span.system{
	font-weight: normal;
	font-family: "Times New Roman";
	}
	
    span.job{
	font-weight: normal;
	font-family: "Times New Roman";
}


	 dt.pozadie1 {
	 font-family:  'Roboto',sans-serif;;
	font-size: 0.5em;
	color: #ff178b;
	text-align: left;
	padding-left: 5em;
}

div.pozadie2 {
	 font-family: 'Roboto',sans-serif;
	color: #ff178b;
	text-align: left;
		
}
div.benefits{
	font-size: 3em;
	color:white;
	padding-left: 0em;
	 line-height: 1.2em;
}


.container-fluid{
	 position: relative;
  margin: auto;
  height: 2.8em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.03em;
	
}

.hidden {
	display: none;
}

.displayed {
	display: block;
}



	.deconstructed {
  position: relative;
  margin: auto;
  height: 0.8em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 6em;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.03em;
background-color: #ff178b;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  pointer-events: none;
  font-size: 0.6em;
 font-family: "Times New Roman";
 text-align: left;
 line-height: 1.1;
}

.row1 {
  -webkit-mask-image: linear-gradient(black 100%, transparent 100%);
  mask-image: linear-gradient(transparent 100%, black 100%);
  animation: container-fluid1 5s 1;
  font-weight: normal;
} 
.row2 {
  -webkit-mask-image: linear-gradient(black 100%, transparent 100%);
  mask-image: linear-gradient(transparent 100%, black 100%);
  animation: container-fluid2 5s 1;
  font-weight: normal ;
} 


.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 0%, transparent 0%,black 25%, transparent 25%);
  mask-image: linear-gradient(transparent 0%, black 0%, black 50%, transparent 50%);
  animation: deconstructed1 6s infinite;
  color: 		white;
} 

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 6s infinite;
  color: 		white;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 6s infinite;
  color: 		white;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 6s infinite;
  color: 		white;
}

@keyframes container-fluid1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes container-fluid2 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}


@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0%);
  }
  82% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-115%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-155%);
  }
 }