<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<title>Open Lab T-Systems presentation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="refresh" content="3600" />
<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/tsystem.css}" type="text/css">
</head>
<body class="time" onload="startTime()">
	<div class="time" id="txt"></div>
	<div class="deconstructed">
		<div>
			<span class="stvorcek">▪</span><span class="t">T</span><span
				class="stvorcek">▪ ▪ ▪</span><span class="system">Systems</span><span
				class="stvorcek">▪ </span><span class="job">Job offers</span>
		</div>
		<div>
			<span class="stvorcek">▪</span><span class="t">T</span><span
				class="stvorcek">▪ ▪ ▪</span><span class="system">Systems</span><span
				class="stvorcek">▪ </span><span class="job">Job offers</span>
		</div>
		<div>
			<span class="stvorcek">▪</span><span class="t">T</span><span
				class="stvorcek">▪ ▪ ▪</span><span class="system">Systems</span><span
				class="stvorcek">▪ </span><span class="job">Job offers</span>
		</div>
		<div>
			<span class="stvorcek">▪</span><span class="t">T</span><span
				class="stvorcek">▪ ▪ ▪</span><span class="system">Systems</span><span
				class="stvorcek">▪ </span><span class="job">Job offers</span>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="pozadie2">
					<div class="hidden loaded-jobs1"
						th:each="job, iter : ${@mainController.jobs}">
						<div class="position" th:text="${job.position}"></div>
						<h3>Employment type</h3>
						<div class="text" th:text="${job.employmentType}"></div>
						<h3>Publication date</h3>
						<div class="text" th:text="${job.startDate}"></div>
						<h3>End date</h3>
						<div class="text" th:text="${job.endDate}"></div>
						<h3>Salary (Brutto)</h3>
						<div class="text" th:utext="${job.salary}"></div>
						<div class="qrcode hidden qr-codes1">
							<img class='qr-code-image'
								th:src='@{${"/qrcode?number=" + iter.index}}'
								alt='Qr code image.' />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h2>Job description</h2>
				<div class="row description">
					<div id="ecran">
						<br>
						<div class="hidden jobdesc1"
							th:each="job : ${@mainController.jobs}">
							<div th:utext="${job.description}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br> <br>
		<div class="row">
			<div class="col-md-6">
				<div class="pozadie2">
					<div class="hidden loaded-jobs2"
						th:each="job, iter : ${@mainController.jobs}">
						<div class="position" th:text="${job.position}"></div>
						<h3>Employment type</h3>
						<div class="text" th:text="${job.employmentType}"></div>
						<h3>Publication date</h3>
						<div class="text" th:text="${job.startDate}"></div>
						<h3>End date</h3>
						<div class="text" th:text="${job.endDate}"></div>
						<h3>Salary (Brutto)</h3>
						<div class="text" th:utext="${job.salary}"></div>
						<div class="qrcode hidden qr-codes2">
							<img class='qr-code-image'
								th:src='@{${"/qrcode?number=" + iter.index}}'
								alt='Qr code image.' />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h2>Job description</h2>
				<div class="row description">
					<div id="ecran1">
						<div class="hidden jobdesc2"
							th:each="job : ${@mainController.jobs}">
							<div th:utext="${job.description}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row space">
			<div class="col-6">
				<div class="bar">
					<span class="contacts"> <img
						src='http://neobsedimdoma.sk/wp-content/uploads/2018/03/Instagram-logo-2016-01-128x128-1.png'
						width="45" height="45" alt=""> tsystems_slovakia
						&nbsp;&nbsp;
					</span> <span class="contacts"><img
						src='https://cdn1.iconfinder.com/data/icons/social-media-2285/512/Colored_Facebook3_svg-512.png'
						width="35" height="35" alt=""> t.systems.slovakia</span> <span
						class="logoBottom"> Created by Academy <img
						th:src="@{/images/logo.svg}" width="250" height="40" alt=""></span>
					<div class="in"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="snowflakes" aria-hidden="true">
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
	</div>
	<script th:src="@{/js/time.js}"></script>
	<script th:src="@{/js/box.js}"></script>
	<script th:src="@{/js/box1.js}"></script>
	<script th:src="@{/js/jobs.js}"></script>
</body>
</html>