<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<title>Open Lab T-Systems presentation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="refresh" content="3600" />
<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/tsystem.css}" type="text/css">
</head>
<body class="time" onload="startTime()">
	<div class="header">
		<div class="logo">
			<img alt="T-Sys"
				src="https://t-systems.jobs/cust/telekom/images/t-systems-logo@2x.png">
		</div>
		<div class="real-time" id="txt"></div>
	</div>
	<div class="container-fluid">

		<div class="row row1">

			<div class="col-6 job1">


				<div class="hidden loaded-jobs1"
					th:each="job, iter : ${@mainController.jobs}">
					<div class="position" th:text="${job.position}"></div>

					<div class="pozadie2">

						<h3>
							Employment type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="text" th:text="${job.employmentType}"></div>
							<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</h3>
						<h3>
							Application deadline &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="text" th:text="${job.applicationDeadline}"></div>
							<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</h3>
						<h3>
							Minimum salary (brutto) &nbsp;
							<div class="text" th:utext="${job.salary}"></div>
							<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</h3>
					</div>
					<div class="qrcode hidden qr-codes1">
						<img class='qr-code-image'
							th:src='@{${"/qrcode?number=" + iter.index}}'
							alt='Qr code image.' />
					</div>
					<div>
						<iframe id="ytvideo"
							src="https://www.youtube.com/embed/cMJytKW87TA?controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;playlist=cMJytKW87TA&amp;autoplay=1"
							frameborder="0" allowfullscreen="0"></iframe>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="position">Job description</div>
				<div class="row description">
					<div id="ecran">
						<br>
						<div class="hidden jobdesc1 padding"
							th:each="job : ${@mainController.jobs}">
							<div th:utext="${job.accountabilities}"></div>
							<div th:utext="${job.requirements}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row row2">
			<div class="col-6 job2">
				<div class="pozadie2">
					<div class="hidden loaded-jobs2"
						th:each="job, iter : ${@mainController.jobs}">
						<div class="position" th:text="${job.position}"></div>
						<div class="pozadie2">
							<h3>
							Employment type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<div class="text" th:text="${job.employmentType}"></div>
								<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							</h3>
							<h3>
								Application deadline &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<div class="text" th:text="${job.applicationDeadline}"></div>
								<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							</h3>
							<h3>
								Minimum salary (brutto) &nbsp;
								<div class="text" th:utext="${job.salary}"></div>
								<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							</h3>
						</div>
						<div class="qrcode hidden qr-codes2">
							<img class='qr-code-image'
								th:src='@{${"/qrcode?number=" + iter.index}}'
								alt='Qr code image.' />
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="position">Job description</div>
				<div class="row description">
					<div id="ecran1">
						<div class="hidden jobdesc2 padding"
							th:each="job : ${@mainController.jobs}">
							<div th:utext="${job.accountabilities}"></div>
							<div th:utext="${job.requirements}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div>

		<div>
			<div class="bar">
				<div class="in"></div>
			</div>
		</div>
	</div>
	<div class="snowflakes" aria-hidden="true">
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
		<div class="snowflake">T</div>
	</div>
	<script th:src="@{/js/time.js}"></script>
	<script th:src="@{/js/box.js}"></script>
	<script th:src="@{/js/box1.js}"></script>
	<script th:src="@{/js/animreset.js}"></script>
</body>
</html>